button.btn-primary a {
    color: #f2f2f2;
}
button.btn-primary a:hover {
    color: #FFF;
    text-decoration: none;
}
a.glyphicon-btn {
    display: inline-block;
    cursor: pointer;
    cursor: hand;
}

