<div>
        <!-- ADD QUESTION modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="addQuestionModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add a question</h4>
                    </div>
                    <form method="post" accept-charset="utf-8" _lpchecked="1">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="title" placeholder="Title" ng-model="questionToAdd.title">
                            </div>
                            <div class="form-group">
                                <label for="body">Body</label>
                                <textarea name="body" class="form-control" required="required" id="body" rows="5" placeholder="Content" ng-model="questionToAdd.body"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="addQuestion" ng-click="addQuestion()" data-dismiss="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
                        </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- EDIT QUESTION modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="editQuestionModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit your question</h4>
                    </div>
                    <form method="post" accept-charset="utf-8" _lpchecked="1">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="editTitle" ng-model="questionToEdit.title">
                            </div>
                            <div class="form-group">
                                <label for="body">Body</label>
                                <textarea name="body" class="form-control" required="required" id="editBody" rows="5" ng-model="questionToEdit.body"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="editQuestionSave" ng-click="editQuestionSave(questionToEdit.id)" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span>&nbsp;Save</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- DELETE QUESTION modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="deleteQuestionModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Are you sure you want to delete the following question?</h4>
                    </div>
                    <form method="post" accept-charset="utf-8" _lpchecked="1">
                        <div class="modal-body">
                            <h3 class="question-title">{{questionToDelete.title}}</h3>
                            <p class="question-body">{{questionToDelete.body}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="deleteQuestionSave" ng-click="deleteQuestionSave(questionToDelete.id)" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    <nav class="navbar navbar-title">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand">{{questions.length}} Questions</div>
            </div>
            <div class="navbar-form">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addQuestionModal" ng-if="currentUserId && currentUserRole!='user'"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add a question</button>            <form class="form-inline pull-right clearfix">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Filter in questions..." ng-model="searchTitle">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-filter"></span></button>
                    </span>
                    </div><!-- /.col-lg-6 -->
                </form>
            </div>
        </div>
    </nav>

    <div class="box" ng-repeat="question in questions | filter:searchTitle">
        <div class="row">
            <div class="question clearfix">
                <div class="col-md-9 mainContent">
                    <h4 class="question-title">{{question.title}}</h4>
                    <p class="question-body">{{question.body}}</p>
                </div>
                <div class="col-md-2 col-md-offset-1 action text-right">
                    <ul class="list-unstyled text-muted small">
                        <li class="hidden">{{question.id}}</li>
                        <li><span class="glyphicon glyphicon-user"></span>&nbsp;Posted by <strong>{{question.user.name}}</strong></li>
                        <li><span class="glyphicon glyphicon-time"></span>&nbsp;{{question.created|date:'short'}}</li>
                    </ul>
                    <div class="action" ng-if="currentUserId">
                        <button type="button" class="btn btn-default btn-sm" ng-click="editQuestionLoad(question.id)" ng-show="currentUserId==question.user.id || currentUserRole=='admin'" data-toggle="modal" data-target="#editQuestionModal"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="deleteQuestionLoad(question.id)" ng-show="currentUserId==question.user.id || currentUserRole=='admin'" data-toggle="modal" data-target="#deleteQuestionModal"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button>
                    </div>
                    <h4><a href="#/questions/{{question.id}}">{{question.answers_count}} answers</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
