<h1>Search</h1>
<div class="row">
    <div class="col-md-4 clearfix">
        <form id="searchForm form-inline" ng-submit="search()" ng-init="inQuestions=true; inAnswers=true">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="searchTxt" ng-model="searchTxt" name="searchTxt">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div><!-- /input-group -->
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label><input type="checkbox" id="inQuestions" name="inQuestions" ng-model="inQuestions"> in questions</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label><input type="checkbox" id="inAnswers" name="inAnswers" ng-model="inAnswers"> in answers</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div id="results" class="clearfix">

    <!-- Results only in Questions-->
    <div class="box" ng-repeat="question in questions" ng-if="inQuestions">
        <div class="row">
            <div class="question noAnswer clearfix">
                <div class="col-md-9 mainContent">
                    <h4 class="question-title">{{question.title}}</h4>
                    <p class="question-body">{{question.body}}</p>
                </div>
                <div class="col-md-2 col-md-offset-1 action text-right">
                    <ul class="list-inline text-muted small">
                        <li class="list-inline-item hidden">{{question.id}}</li>
                        <li class="list-inline-item"><span class="glyphicon glyphicon-user"></span>&nbsp;Posted by <strong>{{question.user.name}}</strong></li>
                        <li class="list-inline-item"><span class="glyphicon glyphicon-time"></span>&nbsp;{{question.created|date:'short'}}</li>
                    </ul>
                    <h4><a href="#/questions/{{question.id}}">{{question.answers_count}} answers</a></h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Results in Answers-->
    <div class="box" ng-repeat="answer in answers" ng-if="inAnswers">
        <div class="row highlight">
            <div class="question clearfix">
                <div class="col-md-9">
                    <h4 class="question-title">{{answer.question.title}}</h4>
                    <p class="question-body">{{answer.question.body}}</p>
                </div>
                <div class="col-md-2 col-md-offset-1 action text-right">
                    <ul class="list-unstyled text-muted small">
                        <li class="hidden">{{answer.question.id}}</li>
                        <!-- TODO: The author of the question is not in the json file. only the user_id -->
                        <li><span class="glyphicon glyphicon-user"></span>&nbsp;Posted by <strong>{{answer.question.user_id}}</strong></li>
                        <li><span class="glyphicon glyphicon-time"></span>&nbsp;{{answer.question.created|date:'short'}}</li>
                    </ul>
                    <h4><a href="#/questions/{{answer.question.id}}">{{answer.question.answers_count}} answers</a></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="answer clearfix">
                <div class="col-md-9 mainContent">
                    <div class="answer-message">{{answer.message}}</div>
                </div>
                <div class="col-md-2 col-md-offset-1 action text-right">
                    <ul class="list-unstyled text-muted small">
                        <li class="hidden">{{question.id}}</li>
                        <li><span class="glyphicon glyphicon-user"></span>&nbsp;Posted by <strong>{{answer.user.name}}</strong></li>
                        <li><span class="glyphicon glyphicon-time"></span>&nbsp;{{answer.created|date:'short'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

