<h1>Search</h1>
<div class="row">
    <form class="form-inline">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span> Search</button>
                </span>
            </div><!-- /input-group -->
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> in questions
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> in answers
                </label>
            </div>
        </div><!-- /.col-lg-6 -->
    </form>
</div>
