<h1>Search</h1>
<div class="row">
    <form id="searchForm" ng-submit="search()">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." id="searchTxt" ng-model="searchTxt" name="searchTxt">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </span>
        </div><!-- /input-group -->
        <div class="checkbox">
            <label><input type="checkbox" checked id="inQuestions" name="inQuestions" ng-model="inQuestions"> in questions</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" id="inAnswers" name="inAnswers" ng-model="inAnswers"> in answers</label>
        </div>
    </form>
</div>

<div id="results" class="row">

    <!-- Results only in Answers-->
    <table class="table" ng-if="inAnswers">
        <thead>
        <tr>
            <th width="25px">Q ID</th>
            <th>Q TITLE</th>
            <th>Q BODY</th>
            <th>A ID</th>
            <th>ANSWER</th>
            <th>A AUTHOR</th>
            <th>CREATED DATE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="answer in answers" ng-if="inAnswers">
            <td>{{answer.question.id}}</td>
            <td>{{answer.question.title}}</td>
            <td>Q: {{answer.question.body}}</td>
            <td>{{answer.id}}</td>
            <td>A: {{answer.message}}</td>
            <td>{{answer.user.name}} - {{answer.user.id}} - {{answer.user.role}}</td>
            <td>{{answer.created|date:'short'}}</td>
        </tr>
        </tbody>
    </table>

    <!-- Results only in Questions-->
    <table class="table" ng-if="inQuestions">
        <thead>
        <tr>
            <th width="25px">Q ID</th>
            <th>Q TITLE</th>
            <th>Q BODY</th>
            <th>Q AUTHOR</th>
            <th>CREATED DATE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in questions" ng-if="inQuestions">
            <td>{{question.id}}</td>
            <td>{{question.title}}</td>
            <td>Q: {{question.body}}</td>
            <td>{{question.user.name}} - {{question.user.id}} - {{question.user.role}}</td>
            <td>{{question.created|date:'short'}}</td>
        </tr>
        </tbody>
    </table>
</div>

